
#logo{
    color: #0A66C2;
    font-weight: bold;
    font-size: 32px;
}

#logo-icon{
    margin-left: 3px;
}

#join-now-link{
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    border-radius: 5px;
}

#join-now-link:hover{
    color: #171717;
    background-color: #EBEBEB;
    transition: 0.3s;
}

#sign-in-link{
    padding: 6px 22px;
    color: #0A66C2;
    font-weight: 600;
    border: 1.5px solid #0A66C2;
    border-radius: 20px;
}

#sign-in-link:hover{
    background-color: #EAF4FE;
    transition: 0.3s;
    box-shadow: inset 0 0 0 1px #0a66c2;
}
#welcome{
    font-size: 54px;
    font-weight: 300;
    color: #8f5849;
}

.list-group-item{
    font-size: 20px;
}

.list-group-item:hover{
    box-shadow: 0px 4px 6px rgba(0,0,0,0.15), 0px 0px 2px rgba(0,0,0,0.15);
    cursor: pointer;
}

#header-image{
    width: 700px;
    height: 670px;
}

/* Section searches */

#searches {
    background-color: #FAF9F7;
    margin-top: -100px;
    padding: 150px 0;
}
#searches h2, #connect h2{
    font-size: 48px;
    font-weight: 300;
}
#links h5{
    color:rgba(0,0,0,0.6);
    font-size: 16px;
    font-weight: 500;
}
#links a, #post a, #left, #get-started a{
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 15px 20px;
    border-radius: 30px;  
    margin: 6px 1px;
    display: inline-block;
}

#post a, #left{       
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.6);;
}
#links a:hover, #post a:hover, #left:hover{
    background-color: rgba(0,0,0,0.2);
    text-decoration: underline;
}
#post a:hover, #left:hover{
    background-color: #C1BDB7;
}
#show-more, #show-less{
    background-color: transparent;
    border: none;
    color: rgba(0,0,0,0.6);
    font-weight: 600;
    border-radius: 4px;
}
#show-more:hover, #show-less:hover{
    background-color: rgba(0,0,0,0.08);
    color: rgba(0,0,0,0.9);
    transition: 0.2s;
}
/* Section post */
#post{
    background-color: #F1ECE5;
    padding: 75px 0;
}
#post h2{
    font-size: 42px;
    font-weight: 400;
    color: #B24020;
}
/* section open */
#functions{
    padding: 150px 0;
    background-color: #FAF9F7;
}

#functions h2{
    color: #2977c9;
    font-size: 40px;
    font-weight: 400;
}

#functions p{
    color: rgba(0,0,0,0.9);
    font-size: 32px;
    font-weight: 200;
    line-height: 40px;
}

#functions .btn-link{
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    border: none;
}

#functions .btn-link:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(207,207,207,0.25);
}

#functions .btn-link.disabled {
    color: rgba(0, 0, 0, 0.3);
}

#functions img{
    width: 85%;
    margin-top: -50px;
}

/* section connect */
#connect{
    padding: 125px 0;
}

#connect img{
    width:55%;
}

#connect .col-6 div{
    width: 80%;
}

#dropdownMenuButton{
    border: 1px solid rgba(0, 0, 0, 0.15);
}

#dropdownMenuButton:hover{
    background-color: rgba(0,0,0,0.08);
}

.dropdown-menu{
    width: 74% !important;
    height: 300px !important;
    overflow:scroll;
}

#connect .dropdown-item:hover{
    background-color: transparent;
    text-decoration: underline;
}

.first{
    font-weight: 600;
    color: rgba(0,0,0,0.9);
}

.second{
    font-weight: 400;
    color: rgba(0,0,0,0.6);
}

/* section forward */

#forward{
    padding: 225px 300px;
    background-color: #F4FAFF;
    padding-right: 180px;
    /* z-index: -1; */
    position: relative;
}

#forward h2 {
    color: #B24020;
    font-size: 40px;
    font-weight: 400;    
}

#forward h3 {
    color: rgba(0,0,0,0.9);
    font-size: 40px;
    font-weight: 200;
}

#yt-video{
    /* margin-top: 150px;
    margin-left: 175px; */
    position: absolute;
    left: -325px;
    top: 160px;
    border-radius: 5px;
}

/* Section join */
#get-started{
    margin-top: 60px;
    padding: 80px 0;
    height: 840px;
    background-image: url(https://static-exp1.licdn.com/sc/h/2vt8plqbv2l2pi6kxm89bqs59);
    background-size:cover;
    background-position: center;
}
#get-started h2{
    font-size: 55px;
    font-weight: 200;
}

#get-started a{
    background-color: #0a66c2;
    color: #fff;
    font-weight: 400;
}

#get-started a:hover{
    background-color: #004182;
    text-decoration: underline;
}